#API
/api/node_modules
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/vendor
/api/.env
/api/.env.backup
/api/.phpunit.result.cache
/api/docker-compose.override.yml
/api/Homestead.json
/api/Homestead.yaml
/api/npm-debug.log
/api/yarn-error.log

#APP
# dependencies
/app/node_modules
/app/.pnp
/app/.pnp.js

# testing
/app/coverage

# next.js
/app/.next/
/app/out/

# production
/app/build

# misc
/app/.DS_Store
/app/*.pem

# debug
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*

# local env files
/app/.env.local
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local

# vercel
/app/.vercel

.DS_Store
.idea